/* tell the SVG path to be a thin blue line without any area fill */
#velocity-chart path {
    stroke-width: 1;
    fill: none;
}

#velocity-chart .data1 {
    stroke: #48A1D9;
}

#velocity-chart .axis {
  shape-rendering: crispEdges;
}

#velocity-chart .x.axis line {
  stroke: lightgrey;
}

#velocity-chart .x.axis .minor {
  stroke-opacity: .5;
}

#velocity-chart .x.axis path {
  display: none;
}

#velocity-chart .x.axis text {
    font-size: 10px;
}

#velocity-chart .y.axis line, 
#velocity-chart .y.axis path {
  fill: none;
  stroke: #000;
}

#velocity-chart .y.axis text {
    font-size: 12px;
}

#velocity-chart .title-area {
  font-size: 16px;
  fill: #666;
}
