/*
Period compare widget styles
*/
.period-compare-widget 
{
    width: 280px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    font-family: Arial, helvetica, Sans-Serif;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    line-height: normal;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}
.period-compare-widget-title
{
    font-size: 22px;
    color: #0c4e7f;
    padding-left: 4px;
    font-weight: bold;
    float: left;
}
.period-compare-widget-goal
{
    font-size: 18px;
    font-weight: bold;
    color: #0c4e7f;
    padding-right: 4px;
    padding-top: 4px;
    float: right;
}
.period-compare-widget-actual
{
    font-size: 56px;
    font-weight: bold;
    color: #222222;
    text-shadow:#ffffff 0px 2px 0, #111111 0 -1px 0;
    text-align: center;
}
.period-compare-widget-arrow-up
{
    font-size: 38px;
    color: #007236;
    padding-left: 15px;
    float: left;
}
.period-compare-widget-up
{
    font-size: 32px;
    font-weight: bold;
    color: #007236;
    float: left;
    padding-top: 2px;
}
.period-compare-widget-arrow-down
{
    font-size: 38px;
    color: #ee1c24;
    padding-left: 15px;
    float: left;
}
.period-compare-widget-down
{
    font-size: 32px;
    font-weight: bold;
    color: #ee1c24;
    float: left;
    padding-top: 2px;    
}
.period-compare-widget-arrow-neutral
{
    font-size: 38px;
    color: #666666;
    padding-left: 15px;
    float: left;
}
.period-compare-widget-neutral
{
    font-size: 32px;
    font-weight: bold;
    color: #666666;
    float: left;
    padding-top: 2px;    
}
.period-compare-widget-period
{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    padding-right: 4px;
    padding-top: 18px;
    float: right;
}