/**
 * General site-wide styles
 */

body 
{
	background-color: #464646;
}

/* login session div */
.session {
    float: right;
    margin-top: 12px;
}

.session a {
    color: #999999;  
}

/* extra header styles */
div.top-stripe 
{
	background-color: #48a1d9;
    height: 3px;
    width: 100%;
    border-bottom: 5px solid #111111;
    float:left;	
}

div.tab-content 
{
    padding-left: 20px;
}

/* Support for jQuery tablesorter w/ bootstrap */
table .tablesorter-header {
    cursor: pointer;
}
table.tablesorter .header,
table.tablesorter .tablesorter-header {
    /* black double arrow */
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #aba995;
    color: #292717;
    padding: 4px 20px 4px 4px;
    cursor: pointer;
}
table.tablesorter th.headerSortUp,
table.tablesorter th.tablesorter-headerSortUp {
    background-color: #a2ab58;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
table.tablesorter th.headerSortDown,
table.tablesorter th.tablesorter-headerSortDown {
    background-color: #a2ab58; /* black desc arrow */
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

/* General layout styling */
.report-section {
    padding: 20px 0 20px 0;
}

.input .#daterange {
	border-color: #ff0000;
}

.incident-view-controls {
    margin: 10px 0 -5px 0;
}
