.widget
{
    display: block;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #999788;
    font-family: Arial, helvetica, Sans-Serif;
    background-color: #dfded4;
    padding: 0px;
    margin: 0px;
    line-height: normal;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;    	
}

.widget-white
{
    display: block;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #999788;
    font-family: Arial, helvetica, Sans-Serif;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    line-height: normal;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;    	
}

.widget-title
{
    font-size: 16px;
    font-weight: bold;
    color: #0c4e7f;
    padding-left: 3px;
}

.widget-title-chart
{
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding-left: 3px;
}
    
.widget-body
{
    padding-left: 3px;
}
        
.widget-title-metric
{
    font-size: 16px;
    font-weight: bold;
    color: #0c4e7f;
    padding-left: 3px;
    float: left;
}
    
.widget-subtitle-metric
{
    font-size: 12px;
    text-align: right;
    color: #2e2e2e;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-right: 3px;
}

.widget-body-metric
{
    font-size: 46px;
    font-weight: bold;
  	text-shadow:#ffffff 0px 2px 0, #6e2d09 0 -1px 0;
  	text-align: center;
    color: #f36818;
    padding-top: 6px;
}

.widget-footnote-metric
{
    font-size: 22px;
    font-weight: bold;
    color: #2e2e2e;
    padding-left: 3px;
    float: left;
}

.widget-footnote-subtitle-metric
{
    font-size: 12px;
    text-align: right;
    color: #2e2e2e;
    padding-top: 8px;
    padding-right: 3px;    	
}


/*
	Styles for custom daily uptime widget
*/
.daily-uptime-widget:first-child 
{
    border-left: 1px solid #999;
}

.daily-uptime-widget:last-child 
{
    border-right: 1px solid #999;
}

.daily-uptime-widget
{
    height: 28px; 
    border-right: 1px solid white;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    position:relative;
    float:left;
    cursor: pointer;  
}

.good-bg
{
    background: #03e603;
}

.medium-bg
{
    background: #f7eb03;
}

.bad-bg
{
    background: #ed1c24;
}