<div class="row" style="padding-bottom: 20px;">
    <div class="span12">
        <legend>Instructions</legend>
        <ol>
            <li>
                Set the baseline SKU volume to start pricing based on one of these two options:
                <ol>
                    <li type="a"><span style="color: #a3bccc; font-weight: bold;">SKU Average</span>: the current average usage data for page views, keywoards, and emails for the selected SKU</li>
                    <li type="a"><span style="color: #a3bccc; font-weight: bold;">Worst Case</span>: the baseline will be set assuming the account will use 100% of their capacity for page veiws, keywords and emails</li>
                </ol>
            </li>
            <li>
                Select the SKU you'd like to estimate pricing for
            </li>
            <li>
                To the best of your knowledge approximate the total volume in page views, keywords, and emails this customer is likely to use in an average month
            </li>
            <li>
                Adjust discounts (if any) on the base SKU price and add-ons.  Note the calculator will automatically adjust COGS and MRR for SKU overages
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="span5">
        <div class="form-horizontal">
            <legend>SKU Settings</legend>
            <div style="margin-top: -10px; margin-bottom: 20px;">
                <table width="380" cellpadding="0" cellspacing="0" border="0" style="color: #ccc;">
                <tr>
                    <td><label class="radio" style="font-size: 120%">Baseline:</label></td>
                    <td><label class="radio" style="font-size: 120%"><input type="radio" name="calctype" id="calctypeaverage" value="calctypeaverage" checked onchange="resetDefaults();">SKU Average</label></td>
                    <td><label class="radio" style="font-size: 120%"><input type="radio" name="calctype" id="calctypeworst" value="calctypeworst" onchange="resetDefaults();" >Worst Case</label></td>
                </tr>
                </table>
            </div>
            <div class="control-group">
                <label class="control-label">SKU</label>
                <div class="controls">
                    <select name="sku" id="sku" onchange="resetDefaults();">
                        <option value="Agency Pro">Agency Pro</option>                        
                        <option value="Agency Complete">Agency Complete</option>                        
                        <option value="Express">Express</option>
                        <option value="Team">Team</option>
                        <option value="Premium">Premium</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Pageviews</label>
                <div class="controls">
                    <input type="text" name="pageviews" id="pageviews" value="300000" onblur="calculate();" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Keywords</label>
                <div class="controls">
                    <input type="text" name="keywords" id="keywords" value="1500" onblur="calculate();" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Emails</label>
                <div class="controls">
                    <input type="text" name="emails" id="emails" value="0" onblur="calculate();" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Pageview discount</label>
                <div class="controls">
                    <div id="pv-discount"></div>
                    <div id="pv-discount-val" style="padding-right: 100px; text-align: right;">0%</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Keyword discount</label>
                <div class="controls">
                    <div id="kw-discount"></div>
                    <div id="kw-discount-val" style="padding-right: 100px; text-align: right;">0%</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email discount</label>
                <div class="controls">
                    <div id="em-discount"></div>
                    <div id="em-discount-val" style="padding-right: 100px; text-align: right;">0%</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">SKU Discount</label>
                <div class="controls">
                    <div id="discount"></div>
                    <div id="discount-val" style="padding-right: 100px; text-align: right;">0%</div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                </div>
            </div>
        </div> <!-- form -->
    </div>
    <div class="span1">&nbsp;</div>
    <div class="span6">
    <legend>Summary</legend>
    <table class="table" style="color: #aaaaaa;">
        <thead style="color: #dddddd;">
            <tr>
                <th>Item</th>
                <th style="text-align: right;">$ COGS</th>
                <th style="text-align: right;">$ Retail</th>
                <th style="text-align: right;">$ MRR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Baseline SKU</td>
                <td style="text-align: right;" id="baseline-cost"></td>
                <td style="text-align: right;" id="baseline-retail"></td>
                <td style="text-align: right;" id="baseline-charge"></td>
            </tr>
            <tr>
                <td>Extra page views</td>
                <td style="text-align: right;" id="pageviews-cost"></td>
                <td style="text-align: right;" id="pageviews-retail"></td>
                <td style="text-align: right;" id="pageviews-charge"></td>
            </tr>
            <tr>
                <td>Extra keywords</td>
                <td style="text-align: right;" id="keywords-cost"></td>
                <td style="text-align: right;" id="keywords-retail"></td>
                <td style="text-align: right;" id="keywords-charge"></td>
            </tr>
            <tr>
                <td>Extra email</td>
                <td style="text-align: right;" id="email-cost"></td>
                <td style="text-align: right;" id="email-retail"></td>
                <td style="text-align: right;" id="email-charge"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr style="font-weight: bold; border-bottom: 4px double #666666; color: #dddddd;">
                <td>Total</td>
                <td style="text-align: right;" id="total-cost"></td>
                <td style="text-align: right;" id="total-retail"></td>
                <td style="text-align: right;" id="total-charge"></td>
            </tr>
        </tfoot>
    </table>
    <div id="tot-discount" style="text-align: right; font-size: 14px; padding-bottom: 8px; color: #dddddd;"></div>
    <div id="margin" style="text-align: right; font-size: 14px; padding-bottom: 8px; color: #dddddd;"></div>
    <div id="warning" style="color: #f06c20; font-size: 14px; font-weight: bold; text-align: center;"></div>
    <div id="debug" style="text-align: left; font-size: 11px; padding-bottom: 8px; color: #ffff00;"></div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    var skus = {
        "Agency Pro": {
            basePrice: 750,
            pv: 300000,
            kw: 1500,
            em: 375000,
            pvAvg: 75000,
            kwAvg: 300,
            emAvg: 500
        },
        "Agency Complete": {
            basePrice: 1500,
            pv: 1000000,
            kw: 5000,
            em: 1125000,
            pvAvg: 175000,
            kwAvg: 1200,
            emAvg: 500
        },        
        "Express": {
            basePrice: 300,
            pv: 10000,
            kw: 50,
            em: 2500,
            pvAvg: 6000,
            kwAvg: 40,
            emAvg: 200
        },
        "Team": {
            basePrice: 600,
            pv: 250000,
            kw: 500,
            em: 100000,
            pvAvg: 75000,
            kwAvg: 350,
            emAvg: 1500
        },
        "Premium": {
            basePrice: 1200,
            pv: 750000,
            kw: 3000,
            em: 250000,
            pvAvg: 600000,
            kwAvg: 1500,
            emAvg: 500
        }
    }


    var costpv = .000106,
        costKW = .0301,
        costEM = .00211,
        thresholdpvAddOn = 100000,
        costpvAddOn = 100,
        thresholdKWAddOn = 500,
        costKWAddOn = 100,
        thresholdEMAddOn = 5000,
        costEMAddOn = 50;

    $(function () {
        $("#pv-discount").slider({
            min: 0,
            max: 100,
            change: function (event, ui) {
                calculate();
            },
            slide: function (event, ui) {
                $("#pv-discount-val").text(ui.value + "%");
            }
        });

        $("#kw-discount").slider({
            min: 0,
            max: 100,
            change: function (event, ui) {
                calculate();
            },
            slide: function (event, ui) {
                $("#kw-discount-val").text(ui.value + "%");
            }
        });

        $("#em-discount").slider({
            min: 0,
            max: 100,
            change: function (event, ui) {
                calculate();
            },
            slide: function (event, ui) {
                $("#em-discount-val").text(ui.value + "%");
            }
        });

        $("#discount").slider({
            min: 0,
            max: 100,
            change: function (event, ui) {
                calculate();
            },
            slide: function (event, ui) {
                var disc = ui.value;
                $("#discount-val").text(disc + "%");
            }
        });
        resetDefaults();
    });

    function calculate() {
        var sku = $("#sku").val();

        // Variables for global calculations
        var pvdisc = $("#pv-discount").slider("value") / 100;
        var kwdisc = $("#kw-discount").slider("value") / 100;
        var emdisc = $("#em-discount").slider("value") / 100;
        var disc = $("#discount").slider("value") / 100;
        
        var totRetail = skus[sku].basePrice;
        var totCharge = skus[sku].basePrice - (skus[sku].basePrice * disc);

        // necessary to account for selling a SKU with reduced capacity (like Pro with no email)
        var basepvCost = skus[sku].pv * costpv;
        var baseKWCost = skus[sku].kw * costKW;
        var baseEMCost = skus[sku].em * costEM;

        if ($("#pageviews").val() < skus[sku].pv) {
            basepvCost = $("#pageviews").val() * costpv;
        }

        if ($("#keywords").val() < skus[sku].kw) {
            baseKWCost = $("#keywords").val() * costKW;
        }

        if ($("#emails").val() < skus[sku].em) {
            baseEMCost = $("#emails").val() * costEM;
        }

        var totCost = (basepvCost) + (baseKWCost) + (baseEMCost);

        // Express doesn't support add-ons, disable controls
        if (sku == "Express") {
            $("#pageviews").attr("disabled", "disabled");
            $("#pv-discount").slider("option", "disabled", true);
            $("#keywords").attr("disabled", "disabled");
            $("#kw-discount").slider("option", "disabled", true);
            $("#emails").attr("disabled", "disabled");
            $("#em-discount").slider("option", "disabled", true);
        }
        else {
            $("#pageviews").removeAttr("disabled");
            $("#pv-discount").slider("option", "disabled", false);
            $("#keywords").removeAttr("disabled");
            $("#kw-discount").slider("option", "disabled", false);
            $("#emails").removeAttr("disabled");
            $("#em-discount").slider("option", "disabled", false);
        }

        var pvOver = $("#pageviews").val() - skus[sku].pv;
        if (pvOver > 0) {
            var addOns = Math.floor(pvOver / thresholdpvAddOn);
            if (pvOver % thresholdpvAddOn > 0) {
                addOns++;
            }
            totCost += addOns * thresholdpvAddOn * costpv;
            totRetail += addOns * costpvAddOn;
            totCharge += addOns * (costpvAddOn - (costpvAddOn * pvdisc));
            $("#pageviews-cost").text(moneyFormat(addOns * thresholdpvAddOn * costpv));
            $("#pageviews-retail").text(moneyFormat(addOns * costpvAddOn));
            $("#pageviews-charge").text(moneyFormat(addOns * (costpvAddOn - (costpvAddOn * pvdisc))));
        }
        else {
            // reset defaults
            $("#pageviews-cost").text("$0.00");
            $("#pageviews-retail").text("$0.00");
            $("#pageviews-charge").text("$0.00");
        }

        var kwOver = $("#keywords").val() - skus[sku].kw;
        if (kwOver > 0) {
            var addOns = Math.floor(kwOver / thresholdKWAddOn);
            if (kwOver % thresholdKWAddOn > 0) {
                addOns++;
            }
            totCost += addOns * thresholdKWAddOn * costKW;
            totRetail += addOns * costKWAddOn;
            totCharge += addOns * (costKWAddOn - (costKWAddOn * kwdisc));
            $("#keywords-cost").text(moneyFormat(addOns * thresholdKWAddOn * costKW));
            $("#keywords-retail").text(moneyFormat(addOns * costKWAddOn));
            $("#keywords-charge").text(moneyFormat(addOns * (costKWAddOn - (costKWAddOn * kwdisc))));
        }
        else {
            // reset defaults
            $("#keywords-cost").text("$0.00");
            $("#keywords-retail").text("$0.00");
            $("#keywords-charge").text("$0.00");
        }

        var emOver = $("#emails").val() - skus[sku].em;
        if (emOver > 0) {
            var addOns = Math.floor(emOver / thresholdEMAddOn);
            if (emOver % thresholdEMAddOn > 0) {
                addOns++;
            }
            totCost += addOns * thresholdEMAddOn * costEM;
            totRetail += addOns * costEMAddOn;
            totCharge += addOns * (costEMAddOn - (costEMAddOn * emdisc));
            $("#email-cost").text(moneyFormat(addOns * thresholdEMAddOn * costEM));
            $("#email-retail").text(moneyFormat(addOns * costEMAddOn));
            $("#email-charge").text(moneyFormat(addOns * (costEMAddOn - (costEMAddOn * emdisc))));
        }
        else {
            // reset defaults
            $("#email-cost").text("$0.00");
            $("#email-retail").text("$0.00");
            $("#email-charge").text("$0.00");
        }

        $("#baseline-cost").text(moneyFormat(basepvCost + baseKWCost + baseEMCost));
        $("#baseline-charge").text(moneyFormat(skus[sku].basePrice - (skus[sku].basePrice * disc)));
        $("#total-cost").text(moneyFormat(totCost));
        $("#total-retail").text(moneyFormat(totRetail));
        $("#total-charge").text(moneyFormat(totCharge));

        $("#tot-discount").text("Total discount: " + ((totRetail - totCharge) / totRetail * 100).toFixed(2) + "%");
        $("#margin").text("Gross Margin: " + ((totCharge - totCost) / totCharge * 100).toFixed(2) + "%");

        var totNet = totCharge - totCost;
        var margin = (totCharge - totCost) / totCharge;
        var warning = false;

        if (
              (totNet <= 100 && margin < .95) ||
              (totNet <= 200 && margin < .9) ||
              (totNet <= 400 && margin < .8) ||
              (totNet <= 600 && margin < .7) ||
              (totNet <= 800 && margin < .6) ||
              (totNet <= 1000 && margin < .5) ||
              (totNet <= 2000 && margin < .4) ||
              (totNet <= 5000 && margin < .3) ||
              (totNet <= 10000 && margin < .2) ||
              (totNet > 10000 && margin <= 0)
           )
        {
            warning = true;
        }

        if (warning) {
            $("#warning").text("LOW MARGIN WARNING: If you have any concerns about pricing this customer please talk to Woody, Rob, or Chris");
            $("#warning").css("border", "1px solid #f06c20");
        }
        else {
            $("#warning").text('');
            $("#warning").css("border", "none");
        }
    }

    function moneyFormat(num) {
        return "$" + num.toFixed(2);
    }

    function resetDefaults() {
        $("#pv-discount").slider("value", 0);
        $("#pv-discount-val").text("0%");
        $("#kw-discount").slider("value", 0);
        $("#kw-discount-val").text("0%");
        $("#em-discount").slider("value", 0);
        $("#em-discount-val").text("0%");
        $("#discount").slider("value", 0);
        $("#discount-val").text("0%");

        $("#pageviews-cost").text("$0.00");
        $("#pageviews-retail").text("$0.00");
        $("#pageviews-charge").text("$0.00");

        $("#keywords-cost").text("$0.00");
        $("#keywords-retail").text("$0.00");
        $("#keywords-charge").text("$0.00");

        $("#email-cost").text("$0.00");
        $("#email-retail").text("$0.00");
        $("#email-charge").text("$0.00");

        var sku = $("#sku").val();
        var avg = $("input[name=calctype]:checked").val() == "calctypeaverage" ? true : false;
        var basePV = avg ? skus[sku].pvAvg : skus[sku].pv;
        var baseKW = avg ? skus[sku].kwAvg : skus[sku].kw;
        var baseEM = avg ? skus[sku].emAvg : skus[sku].em;

        $("#pageviews").val(basePV);
        $("#keywords").val(baseKW);
        $("#emails").val(baseEM);
        $("#baseline-cost").text(moneyFormat((basePV * costpv) + (baseKW * costKW) + (baseEM * costEM)));
        $("#baseline-retail").text(moneyFormat(skus[sku].basePrice));
        $("#baseline-charge").text(moneyFormat(skus[sku].basePrice));
        $("#total-cost").text(moneyFormat((basePV * costpv) + (baseKW * costKW) + (baseEM * costEM)));
        $("#total-retail").text(moneyFormat(skus[sku].basePrice));
        $("#total-charge").text(moneyFormat(skus[sku].basePrice));

        calculate();
    }

</script>